address {
  font-weight: normal;
  font-style: normal;
}

.cafe-address-section {
  background-color: $pink-background-color;
}

.cafe-address-container {
  margin-left: auto;
  margin-right: auto;
  background-color: $write-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.cafe-name,
.cafe-town,
.cafe-work,
.cafe-time,
.cafe-contacts {
  font-weight: 500;
}

.cafe-town {
  cursor: pointer;
  color: $black-color;
}

.cafe-description {
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  font-weight: 500;
  color: $gray-color;
}

.cafe-description::after {
  position: absolute;
  bottom: -25px;
  content: '';
  display: block;
  width: 179px;
  height: 1px;

  margin-left: auto;
  margin-right: auto;

  background-color: #e1e1e1;
  border: 1px;
}

.cafe-big-container {
  background-color: $pink-background-color;
}

@media screen and (min-width: $mobile) and (max-width: 767px) {
  .cafe-address-container {
    position: relative;
    top: -84px;
    width: 220px;
    padding-top: 43px;
    padding-right: 21px;
    padding-bottom: 43px;
    padding-left: 20px;
  }

  .cafe-address-container:not(:last-child) {
    margin-bottom: 20px;
  }

  .cafe-name {
    font-size: 12px;
    line-height: 1.833;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: $write-color;
    background-color: #f0d1a5;
    border-radius: 4px;
    display: inline;
    padding-left: 23px;
    padding-right: 23px;
  }

  .cafe-town {
    font-size: 12px;
    line-height: 1.833;
  }

  .cafe-address {
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .cafe-description {
    font-size: 12px;
    line-height: 1.5;
  }

  .cafe-description::after {
    width: 179px;
    bottom: -25px;
  }

  .cafe-work {
    font-size: 12px;
    line-height: 1.833;
    color: $black-color;
  }

  .cafe-work:not(:last-child) {
    margin-bottom: 10px;
  }

  .cafe-underline-indent {
    margin-top: 25px;
  }

  .cafe-time {
    display: block;
    font-size: 12px;
    line-height: 1.833;
    color: $pink-color;
  }

  .cafe-contacts {
    font-size: 12px;
    line-height: 1.5;
    color: $gray-color;
  }
}

// ПЛАНШЕТ

@media screen and (min-width: $tablet) {
  .cafe-address-container:not(:last-child) {
    margin-right: 20px;
  }
  .cafe-big-container {
    display: flex;
  }

  .cafe-address-container {
    position: relative;
    top: -78px;
    width: 220px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 31px;
  }

  .cafe-name {
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    color: $write-color;
    background-color: #f0d1a5;
    border-radius: 4px;
    display: inline;
    padding-left: 23px;
    padding-right: 23px;
  }
  .cafe-town {
    font-size: 14px;
    line-height: 1.571;
  }
  .cafe-address {
    margin-top: 32px;
    margin-bottom: 10px;
  }
  .cafe-description {
    position: relative;
    font-size: 14px;
    line-height: 1.642;
    color: $gray-color;
    margin-bottom: 30px;
    display: inline-block;
  }
  .cafe-description::after {
    width: 157px;
    bottom: -30px;
  }
  .cafe-work {
    display: block;
    font-size: 14px;
    line-height: 1.857;
    color: $black-color;
  }
  .cafe-work:not(:last-child) {
    margin-bottom: 16px;
  }
  .cafe-underline-indent {
    margin-top: 30px;
  }
  .cafe-time {
    display: block;

    font-size: 14px;
    line-height: 1.857;
    color: $pink-color;
  }
  .cafe-contacts {
    font-size: 14px;
    line-height: 1.857;
    color: $gray-color;
  }
}

// ДЕСКТОП
@media screen and (min-width: $desktop) {
  .cafe-address-section {
    height: 775px;
  }
  .cafe-address-container:not(:last-child) {
    margin-right: 30px;
  }

  .cafe-address-container {
    position: relative;
    top: -102px;
    width: 330px;
    padding-top: 51px;
    padding-right: 42px;
    padding-bottom: 62px;
    padding-left: 42px;
  }

  .cafe-big-container {
    background-image: url('/images/contacts/contacts.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .cafe-big-container {
      background-image: url('/images/contacts/contacts@2x.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .cafe-town {
    font-size: 16px;
    line-height: 1.875;
  }
  .cafe-description {
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.812;
    color: $gray-color;
  }
  .cafe-description::after {
    width: 234px;
    bottom: -32px;
  }
  .cafe-work {
    font-size: 16px;
    line-height: 1.875;
    color: $black-color;
  }
  .cafe-work:not(:last-child) {
    margin-bottom: 15px;
  }
  .cafe-underline-indent {
    margin-top: 32px;
  }
  .cafe-time {
    font-size: 16px;
    line-height: 1.875;
  }
  .cafe-contacts {
    font-size: 16px;
    line-height: 1.812;
  }
}
.cafe-name-color {
  background-color: #c2e297;
}
//              К Н О П К И

.cafe-buttons {
  position: relative;
}

.cafe-button-one {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.312;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: none;
  color: $write-color;
  background-color: #d41342;
  cursor: pointer;
  border-radius: 22px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.cafe-button-two {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.312;

  color: $main-title-color;
  background-color: $write-color;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

@media screen and (min-width: $mobile) and (max-width: 767px) {
  .cafe-buttons {
    display: block;
    padding-bottom: 83px;
    top: -30px;
  }
  // кнопка-1
  .cafe-button-one {
    width: 161px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .cafe-button-two {
    width: 161px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .cafe-button-svg {
    margin-left: 13px;
  }
  .cafe-mob-svg {
    margin-left: 8px;
  }
}

@media screen and (min-width: $tablet) {
  .cafe-buttons {
    display: flex;
    padding-bottom: 176px;
  }

  // кнопка-1
  .cafe-button-one {
    width: 192px;
    height: 44px;
    margin-right: 15px;
    margin-left: 196px;
  }

  .cafe-button-svg {
    margin-left: 13px;
  }

  // кнопка 2
  .cafe-button-two {
    width: 174px;
    height: 44px;
  }
}

@media screen and (min-width: $desktop) {
  .cafe-buttons {
    display: flex;
    padding-bottom: 158px;
    top: -16px;
  }

  // кнопка-1
  .cafe-button-one {
    width: 198px;
    height: 44px;
    margin-left: 330px;
  }

  .cafe-button-svg {
    margin-left: 13px;
  }

  // кнопка 2
  .cafe-button-two {
    width: 180px;
    height: 44px;
  }
}
