.section-products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.subtitle-products {
  text-align: center;
  margin-bottom: 15px;

  font-family: $title-font;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;

  color: $pink-color;
}

.title-products {
  text-align: center;
  margin-bottom: 144px;

  font-family: $title-font;
  font-size: 34px;
  line-height: 39px;
  text-transform: uppercase;

  color: $main-title-color;
}

.list-item-products {
  position: relative;
  padding-top: 161px;
  padding-bottom: 41px;
  padding-right: 40px;
  padding-left: 40px;

  border-radius: 24px;
}

.ice-cream {
  background: #ffb8ca;
}

.ice-coffee {
  background: #f0d1a5;
}

.milkshakes {
  background-color: #c2e297;
}

.list-item-img-products {
  position: absolute;
  transform: translate(-21px, -109%);
}

.list-item-title-products {
  margin-bottom: 30px;

  font-family: $title-font;
  font-size: 20px;
  line-height: 23px;

  text-align: center;

  color: $write-background-color;
  text-transform: uppercase;
}

.wrapper-after-products {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.after-products {
  &:not(:last-child) {
    margin-right: 4px;
  }

  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: $write-background-color;
    border-radius: 50%;
  }
}
.wrapper-text-products {
  margin-bottom: 30px;
}
.list-item-subtitle-products {
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;

  color: $write-background-color;
}

.list-item-link-products {
  background-image: url(../images/products-section/arrow-right.png);
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .list-item-link-products {
    background-image: url(../images/products-section/arrow-right@2x.png);
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .list-item-products:not(:last-child) {
    margin-bottom: 140px;
  }
}

@media screen and (min-width: $tablet) {
  .section-products {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  .list-products {
    display: flex;
  }

  .subtitle-products {
    font-size: 26px;
    line-height: 1.15;
  }

  .title-products {
    font-size: 48px;
    line-height: 1.45;
    margin-bottom: 150px;
  }

  .list-item-products {
    padding-top: 152px;
    padding-bottom: 40px;
    padding-right: 11px;
    padding-left: 11px;
    width: calc((100% - 40px) / 3);
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .list-item-img-products {
    width: 220px;
    transform: translate(-10px, -114%);
  }
  .wrapper-text-products {
    width: 198px;
    height: 124px;
    overflow: hidden;
    margin-bottom: 40px;
  }

  .list-item-subtitle-products {
    line-height: 1.76;
  }
}

@media screen and (min-width: $desktop) {
  .section-products {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  .subtitle-products {
    font-size: 30px;
    line-height: 1.13;
  }

  .title-products {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 259px;
  }

  .list-item-products {
    padding-top: 163px;
    padding-bottom: 50px;
    padding-left: 44px;
    padding-right: 44px;
  }
  .ice-cream {
    margin-right: 24px;
  }

  .ice-coffee {
    margin-right: 23px;
  }

  .list-item-img-products {
    width: 335px;
    height: 335px;
    transform: translate(-44px, -113%);
  }

  .list-item-title-products {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 32px;
  }

  .wrapper-after-products {
    margin-bottom: 32px;
  }
  .list-item-subtitle-products {
    font-size: 16px;
    line-height: 1.76;
  }

  .wrapper-text-products {
    width: 241px;
    height: 106px;
    overflow: hidden;
    margin-bottom: 62px;
  }
}
